* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: square url(./images/icon.png) inside ;
  
}

 ul li {
  border: 1px solid black;
  padding: 20px;
}

ol {
  list-style: decimal inside;
  background-color: palevioletred;
}

ol li {
  border: 1px solid black;
  padding: 20px;
} 